<h1>New post</h1>
<form action="/new" method="POST">
   <div class="form-group">
    <label>Name</label>
    <input name="post[username]" type="text" class="form-control" placeholder="Your name">
  </div>
  <textarea name ="post[content]" class="form-control" rows="6" placeholder="Type text here"></textarea> </br>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>